{% extends 'base.html' %}

{% block title %}Home{% endblock title %}
{% block body %}
<div class="row">
            <div class="col-md-12 grid-margin">
              <div class="d-flex justify-content-between flex-wrap">
                <div class="d-flex align-items-end flex-wrap">
                  <div class="mr-md-3 mr-xl-5">
                    <h2>Welcome back,</h2>
                    <p class="mb-md-0">Your dashboard template.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
{% endblock body %}